<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Barber App</title>
  {% endif %}
</head>

<body>
  <header>
    <ul class="nav justify-content-end">
      {% if 'username' not in session %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tokenauth.login') }}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.index') }}">Admin Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('statement.index') }}">Manage Statements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('statement.create_statement') }}">Create Statement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('tokenauth.logout') }}">Logout</a>
      </li>
      {% endif %}
    </ul>
  </header>
  <main role="main" class="container mt-2">
    <div class="row justify-content-md-center ">
      <div class="col-lg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </div>
    </div>
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
    crossorigin="anonymous"></script>
</body>

</html>